@model IEnumerable<biblioteque.Models.courant_litteraire>

@{
    ViewBag.Title = "Index";
}

<h2>COURANT LITTERAIRE</h2>

<p>
    @Html.ActionLink("Créer un nouveau", "Create")
</p>
<table  class="table table-striped table-bordered" style="width:100%" id="mydatatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.libelle_courant_lit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description_courant_lit)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.libelle_courant_lit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description_courant_lit)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_courant_lit }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_courant_lit }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_courant_lit })
                </td>
            </tr>
        }
    </tbody>


</table>
