@model IEnumerable<biblioteque.Models.livre>

@{
    ViewBag.Title = "Accueil";
}

<h2>LIVRE</h2>

<p>
    @Html.ActionLink("Créer un nouveau", "Create")
</p>
<table class="table table-striped table-bordered" style="width:100%" id="mydatatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom_livre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AUTEUR.nom_auteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre.libelle_genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nom_livre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AUTEUR.nom_auteur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre.libelle_genre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_livre }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id_livre }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_livre })
                </td>
            </tr>
        }
    </tbody>



</table>
