@model IEnumerable<biblioteque.Models.EDITE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITEUR.nom_editeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.livre.nom_livre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.isbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_edition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITEUR.nom_editeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.livre.nom_livre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
