@model IEnumerable<biblioteque.Models.EDITE>

@{
    ViewBag.Title = "Accueil";
}

<h2>EDITER</h2>

<p>
    @Html.ActionLink("Créer un nouveau", "Create")
</p>
<table class="table table-striped table-bordered" style="width:100%" id="mydatatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_edition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EDITEUR.nom_editeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.livre.nom_livre)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_edition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EDITEUR.nom_editeur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.livre.nom_livre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>


</table>
