@model biblioteque.Models.AUTEUR

@{
    ViewBag.Title = "SUPPRIMER";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AUTEUR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_auteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_auteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom_auteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom_auteur)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour vers la liste", "Index")
        </div>
    }
</div>
